/* 基本デザイン */

body {
    color: #232323;
    font-family: "Yu Gothic Light", sans-serif;
    position: relative;
    height: 100%;
}

img {
    z-index: -1;
    position: fixed;
}

/* クラス別デザイン */

.header {
    padding-top: 5%;
    text-align: center;
    font-size: 36px;
}

.prob-button:hover {
    color: #fdfdfd;
    background-color: #232323;
}

.screen {
    transition: all 0.3s cubic-bezier(0.45, 0, 0.55, 1);
    position: absolute !important;
    width: 720px;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    height: 700px;
    text-align: center;
    font-size: 18px;
    z-index: 1;
    border: 1px solid;
    border-color: #232323;
    border-radius: 28px;
    background-color: #fefefe;
    user-select: none;
}

.gacha-title {
    text-align: center;
}

.gacha-buttons {
    margin: 90px 39% 0 39%;
}

.gacha-button {
    transition: color, background-color 0.2s cubic-bezier(0, 0.55, 0.45, 1);
    margin-top: 36px;
    text-align: center;
    font-size: 18px;
    border: 1px solid;
    border-color: #232323;
    border-radius: 28px;
    background-color: #fefefe;
    padding: 8px 8px 8px 8px;
    user-select: none;
}

.gacha-button:hover {
    color: #fdfdfd;
    background-color: #232323;
}

.gacha-button-mode {
    transition: color, background-color 0.2s cubic-bezier(0, 0.55, 0.45, 1);
    display: inline-flex;
    padding: 4px 4px 4px 4px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 24px 0 24px;
    font-size: 18px;
    border: 1px solid;
    border-color: #232323;
    border-radius: 28px;
}

.gacha-button-mode:hover {
    color: #fdfdfd;
    background-color: #232323;
}

.result-box {
    position: relative;
    height: 520px;
    margin: 32px ;
    border: 1px solid;
    border-color: #232323;
    overflow-y: scroll;
}

.result-item {
    margin: 4px 4px 4px 4px;
    padding: 5px 5px 5px 5px;
    text-align: left;
    font-size: 18px;
    border: 1px solid;
    border-color: #e0e0e0;
}

.close-button {
    position: absolute;
    right: 0;
    padding-right: 24px;
    transform: scale(1.5);
}

/* Utility */

.hide {
    position: relative;
    transform: translateY(-10%);
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}

.left-align {
    text-align: left !important;
}