/* 基本デザイン */

body {
    color: #191919;
    font-family: "Yu Gothic Light";
    position: relative;
    height: 100%;
}

img {
    z-index: -1;
    position: fixed;
}

/* クラス別デザイン */

.header {
    padding-top: 5%;
    text-align: center;
    font-size: 48px;
}

.gacha-buttons {
    margin: 90px 36% 0 36%;
}

.gacha-button {
    transition: color, background-color 0.2s cubic-bezier(0, 0.55, 0.45, 1);
    margin-top: 36px;
    text-align: center;
    font-size: 24px;
    border: 1px solid;
    border-color: #191919;
    border-radius: 28px;
    background-color: #fefefe;
    padding: 8px 8px 8px 8px;
    user-select: none;
}

.gacha-button:hover {
    color: #fefefe;
    background-color: #191919;
}

.gacha-screen {
    transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    position: absolute;
    left: calc(100% - 50% - 20%);
    top: 170px;
    width: 40%;
    height: 90%;
    text-align: center;
    font-size: 24px;
    border: 1px solid;
    border-color: #191919;
    border-radius: 28px;
    background-color: #fefefe;
    user-select: none;
}

.gacha-button-mode {
    transition: color, background-color 0.2s cubic-bezier(0, 0.55, 0.45, 1);
    display: inline-flex;
    padding: 4px 4px 4px 4px;
    padding-left: 36px;
    padding-right: 36px;
    margin: 0 36px 0 36px;
    border: 1px solid;
    border-color: #191919;
    border-radius: 28px;
}

.gacha-button-mode:hover {
    color: #fefefe;
    background-color: #191919;
}

.result-box {
    position: relative;
    height: 60%;
    margin: 32px ;
    border: 1px solid;
    border-color: #191919;
    overflow-y: scroll;
}

.result-item {
    margin: 4px 4px 4px 4px;
    padding: 7px 7px 7px 7px;
    text-align: left;
    border: 1px solid;
    border-color: #c0c0c0;
}

.close-button {
    position: absolute;
    right: 0;
    padding-right: 24px;
    transform: scale(1.5);
}

.hide {
    transform: scale(0);
}